.btn-logout {
  background-color: red !important;
  color: #fff !important;
  width: 100px !important;
  height: 35px !important;
  border-radius: 50px !important;
  border: none !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  margin: 0 10px !important;
}

.btn-logout:hover {
  background-color: orange !important;
  color: #fff !important;
  transition: all 0.5s linear !important;
}
