.header {
    display: flex;
    background-color: rgb(113, 89, 253);
    justify-content: center;
    padding: 20px;
}
.search {
    position: relative;
}
.search input {
    outline: none;
    padding: 10px 30px 10px 15px;
    border: 1px solid #cecece;
    border-radius: 10px;
    
}
.search svg {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.connect{
    position: absolute;
    right: 20px;
}
.switch{
    margin-left: 100px;
}