.network {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  width: 180px;
  height: 35px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: orange;
  color: #fff;
  transition: all 0.5s linear;
}
.button:disabled:hover{
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #cecece;
}
    